/* 
    Document   : main
    Created on : 2013-6-13, 15:47:49
    Author     : Daxue
    Description:
        Purpose of the stylesheet follows.
*/

/*make sure all browsers displaying the same content*/
html {
	font-family:arial,sans-serif;
}
a {
	color: blue;
	font-family:Verdana,arial,sans-serif;
	outline-color:lightseagreen;
	text-decoration: none;
}
a:hover {
	color:lightseagreen;
}
fieldset {
	border:2px solid lightgrey;
	padding:0.5em;
	display:block;
	overflow: auto;
}
header {
	text-align: center;
}
div {
	overflow: auto;
}
h1 {
	font-family:Cambria;
}
hr {
	clear: left;
	border:1px solid lightgrey;
	margin: 0.6em 0;
}
legend {
	font-family:Georgia,serif;
}
nav {
	padding:0 0 0.6em 0;
}
/*diffenrent text style*/
.note {
	font-family: arial,sans-serif;
	font-size: 0.9em;
	margin: 0;
	text-align: center;
}
.prices {
	color: grey;
	font-size: 0.8em;
	font-weight: normal;
}
/*variation of <a>*/
.items {
	background:#F0F0FF;
	border:2px solid lightgrey;
	color: black;
	margin:0.3em 0.3em;
	float:left;
	font:bold 0.9em arial,sans-serif;
	outline-color:lightseagreen;
	padding:0.2em 0.4em;
	text-align: center;
}
.item {
	background:#DDF;
}
.combo {
	background:#FDF;
}
.extra {
	background:#DFF;
}
.price {
	background:#FFD;
}
.fade {
	background:#EEE;
	border-color: #EEE;
	color:lightgrey;
}

#category {
	float:left;
}
