/* 
    Document   : main
    Created on : 2013-6-13, 15:47:49
    Author     : Daxue
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
a {
	color: blue;
/*	font-family:Georgia,serif;*/
	font-family:Verdana,arial,sans-serif;
	outline-color:lightseagreen;
	text-decoration: none;
}
a:hover {
	color:lightseagreen;
}
div {
	overflow: auto;
}
fieldset {
	border:2px solid lightgrey;
	padding:0.5em;
}
form {
	font-family:arial,sans-serif;
}
header {
	text-align: center;
}
hr {
	clear:left;
	border:1px solid lightgrey;
}
h1 {
	font-family:Cambria;
}
legend {
/*	font-family:Verdana,arial,sans-serif;*/
	font-family:Georgia,serif;
}
nav {
	padding:0 0 1em 0;
}
table {
	font-family:arial,sans-serif;;
}

/*child of a*/
.item {
	float:left;
	background:#E6E6FF;
	border:2px solid lightgrey;
	color: black;
	margin:0.3em 0.3em;
	font-family:arial,sans-serif;
	outline-color:lightseagreen;
	padding:0.1em 0.3em;
}
.choosing {
	padding:0em 1em;
}
#category {
	float:left;
}
