<menu>
	<category name="Pizzas">
		<items>
			<combo name="2-way Combo" max="2">
				<price name="Small">7.95</price>
				<price name="Large">11.80</price>
			</combo>
			<combo name="3-way Combo" max="3">
				<price name="Small">8.90</price>
				<price name="Large">12.80</price>
			</combo>
			<item name="Pepperoni">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Onions">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Peppers">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Broccoli">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Fresh Garlic">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Mushrooms">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Fresh Spinach">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Anchovies">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Hamburg">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Sausage">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Meatball">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Bacon">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Ham">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Olives">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Grilled Chicken">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Hawaiian">
				<price name="Small">6.85</price>
				<price name="Large">10.85</price>
			</item>
			<item name="Tomato &amp; Cheese">
				<price name="Small">5.50</price>
				<price name="Large">9.75</price>
			</item>
			<extra name="Extra Cheese">
				<price name="Small">1.25</price>
				<price name="Large">1.85</price>
			</extra>
			<extra name="Extra Pepper">
				<price name="Small">1.25</price>
				<price name="Large">1.85</price>
			</extra>
		</items>
	</category>
	<category name="Speciality Pizzas">
		<price name="Small">9.80</price>
		<price name="Large">15.80</price>
		<items>
			<item name="Three Aces Special"></item>
			<item name="Mediterranean">
				<note>Sliced Tomatoes, Olives, Spinach, Fresh Garlic, Mozzarella &amp; Feta Cheese</note>
			</item>
			<item name="Vegetarian">
				<note>Sliced Tomatoes, Onion, Peppers, Mushrooms, Broccoli &amp; Mozzarella</note>
			</item>
			<item name="Meat Lovers">
				<note> Pepperoni, Hamburg, Sausage &amp; Bacon.</note>
			</item>
			<item name="Bbq Grilled Chicken">
				<note>Choice Of Vegetables</note>
			</item>
			<item name="Grecian Supreme">
				<note>Grilled Chicken, Feta Cheese, Tomatoes &amp; Kalamata Olives</note>
			</item>
		</items>
	</category>
	<category name="Special Dinnerrs">
		<note>All Dinners served with French Fries and Salad</note>
		<price>7.25</price>
		<items>
			<item name="Chicken Wing Dinner">
				<price name="Normal">7.25</price>
			</item>
			<item name="Gyro Plate">
				<price name="Normal">7.25</price>
			</item>
			<item name="Chicken Finger Plate">
				<price name="Normal">7.25</price>
			</item>
			<item name="3 Piece Chicken Dinner">
				<price name="Normal">7.25</price>
			</item>
			<item name="Cheeseburger or Chicken Burger Plate">
				<price name="Normal">5.25</price>
			</item>
			<item name="Double-cheeseburger Plate">
				<price name="Normal">5.75</price>
			</item>
			<item name="Chicken Kabob Plate">
				<note>With rice &amp; pita bread</note>
				<price name="Normal">7.85</price>
			</item>
			<item name="Steak Tips Dinner">
				<price name="Normal">8.25</price>
			</item>
			<item name="Fish &amp; Chips Dinner">
				<note>With tartar sauce</note>
				<price name="Normal">7.35</price>
			</item>
		</items>
	</category>
	<category name="Side Orders">
		<price name="Small">9.80</price>
		<price name="Large">15.80</price>
		<items>

		</items>
	</category>
	<category name="Salads">
		<price name="Small">9.80</price>
		<price name="Large">15.80</price>
		<items>

		</items>
	</category>
	<category name="Pasta">
		<price name="Normal">7.25</price>
		<items>

		</items>
	</category>
	<category name="Homemade Calzones">
		<price name="Normal">7.35</price>
		<items>

		</items>
	</category>
	<category name="Wraps $4.95">
		<price name="Normal">4.95</price>
		<items>

		</items>
	</category>
	<category name="Grinders">
		<price name="Small">4.75</price>
		<price name="Large">5.75</price>
		<items>

		</items>
	</category>
</menu>